* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: gray;
}
div {
  position: relative;
  background-color: #fff;
  margin-top: 100px;
  border: 10px solid;
  align-items: center;
  text-align: center;
  margin: 20px solid;
  margin-left: 100px;
  margin-right: 100px;
}
img {
  position: relative;
  border-radius: 50%;
  margin-bottom: 0px;
  display: inline-block;
  padding-bottom: 0px;
  margin-bottom: 10px;
}
h2 {
  background-color: palevioletred;
  display: inline;
  padding: 5px;
  border-radius: 10%;
  text-align: center;
}
.image {
  border: 0px;
  position: relative;
  top: -70px;
  left: 300px;
}

p{
    margin-bottom: 40px;
}