@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic+Guides&display=swap');

.playwrite-nz-basic-guides-regular {
  font-family: "Playwrite NZ Basic Guides", cursive;
  font-weight: 400;
  font-style: normal;
}


h1{
    color:rgb(238, 67, 5);
    padding: 360px;
}