@media  screen and (min-width: 701px){
    body{
    .img1{
        display: none;
        
    }
    }
}

@media screen and (max-width: 502px) {
    body{
    .img2{
        display: none;
    }
    .img2{

    }
}
    
}

p{
    background-color: gray;
}
