*{
    margin: 0px;
    border: 0px;
}

.parent{
    width: 800px;
    height: 600px;
    margin: auto;
    margin-top: 100px;
    border: 1px solid gray;

    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    gap: 10px;
}

.child1{
   grid-row: 1/3;
   grid-column: 1/3;
   background-color: red;
}

.child2{
   grid-row:1/3 ;
   grid-column: 3/4;
   background-color: rgb(113, 215, 4);
}