* {
  margin: 0px;
  padding: 0px;
}

.parent {
  width: 800px;
  height: 600px;
  margin: auto;
  margin-top: 100px;
  border: 1px solid gray;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
}

.child1 {
  align-items: center;
  /* padding-left: 25px; */
  display: flex;
  flex-direction: row;
  grid-row: 1/2;
  grid-column: 1/3;
  background-color: #fff;
}
.text1{
    align-items: center;
    padding-left: 22px;
}
.text1 h4 {
    text-align: center;
  align-items: center;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
}

.child2 {
  align-items: center;
  text-align: center;
  grid-row: 1/2;
  grid-column: 3/5;
  background-color: #837e7e;
}
.child2 h1 {
  align-items: center;
  text-align: center;
  padding: 5px 25px;
}
.child1 img{
    width: 160px;
}
.child2 p {
  padding-top: 15px;
}
.child3 {
    font-size: small;
    text-align: center;
    color: #fff;
  align-items: center;
  grid-row: 2/3;
  grid-column: 1/2;
  background-color: rgb(255, 51, 0);
}

.keyboard{
    width: 150px;
    padding-top: 5px;
}


.child4 {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
  grid-row: 2/3;
  grid-column: 2/4;
  background-color:#fff;
}

.text4{
    padding-top: 18px;
    padding-right: 30px;
}

.text4 img{
    
    padding-right: 30px;
    width: 100px;
    padding-left: 15px;
    /* padding-bottom: 10px; */
}

.child5 {
  grid-row: 2/4;
  grid-column: 4/5;
  background-color: rgb(97, 11, 211);
}
.child6 {
  grid-row: 3/3;
  grid-column: 1/2;
  background-color: rgb(0, 255, 179);
}
.child7 {
  grid-row: 3/3;
  grid-column: 2/4;
  background-color: rgb(212, 197, 206);
}
