* {
  margin: 0px;
}
.logo {
  width: 60px;
  border-radius: 50%;
  margin: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

nav ul {
  width: 400px;
  display: flex;
  justify-content: space-evenly;
}
a {
  color: white;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px; 

}

.card {
  padding: 25px;
  text-align: center;
  margin-bottom: 50px;
  box-shadow: 1px 1px 10px gray;
  border-radius: 10%;
  margin-top: 20px;
  flex-wrap: wrap;   
  flex: 0 0 200px;

}

footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 30px solid black;
}
.button {
  padding: 5px;
  border-radius: 10%;
}

@media screen and(max-width: 700px) {
    .row{
        
    }
    
}